{% liquid 
  assign current_product = product.title | downcase | strip | split: "-" | first | split: " "
  assign product_title_last = product.title | downcase | strip | split: "-" | last | split: " "
  assign current_variant = product.selected_or_first_available_variant.sku | downcase | strip | split: "-" | first | split: " "
  assign current_product_title = product.title | strip
%}
<div class="size-selector">
  <p class="form__label">Huidige maat:</p>
  <div class="size-selector__url">
    {% assign product_title_last_current = product.title | downcase | strip | split: "-" | last | split: " " %}
    {{ product_title_last_current }}
  </div>
  
  <p class="form__label">Beschikbare maten:</p>
  {% paginate collections["all-products"].products by 10000 %}
    {% for product in collections["all-products"].products %}

        {% assign current_product_title = product.title %}
        {% assign product_variant = product.title | downcase | strip | split: "-" | first | split: " " %}
        {% assign product_title_last_current = product.title | downcase | strip | split: "-" | last | split: " " %}
        
        {% unless current_product != product_variant or product_title_last_current == product_title_last %}
          <a class="size-selector__url" href="{{ product.url }}">
            <img class="size-selector__img" src="{{ product.featured_image | img_url: small }}" alt="{{ product.featured_image.alt }}" />
            <div class="h4 accordion__title size-selector__info">
              {% if product.metafields.custom.product_name != blank %}
                <h3 class="size-selector__title">{{ product.metafields.custom.product_name }}</h3>
              {% else %}
                <h3 class="size-selector__title">{{ product.title | strip | split: "-" | first }}</h3>
              {% endif %}
              <span class="size-selector__size">{{ product_title_last_current }}</span>
              <span class="size-selector__price">{{ product.price | money }}</span>
            </div>
          </a>
        {% endunless %}  
    {% endfor %}
  {% endpaginate %}
</div>

{{ 'size-selector.css' | asset_url | stylesheet_tag }}