<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }

  @media screen and (max-width: 990px) {
    .list-menu {
      padding-bottom: 7rem;
    }
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} {% if section.settings.show_line_separator %}{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} {% if section.settings.menu-mobile != blank %} header--has-menu{% endif %}">

      {%- if section.settings.menu-mobile != blank -%}
        <header-drawer data-breakpoint="tablet">
          <details id="Details-menu-drawer-container" class="menu-drawer-container">
            <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu-mobile' | t }}">
              <span>
                {%- render 'global-icon', icon: 'hamburger', icon_size: "md" -%}
                {% render 'icon-close' %}
              </span>
            </summary>
            <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
              <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                  <nav class="menu-drawer__navigation">
                    <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                      {%- for link in section.settings.menu-mobile.links -%}
                        <li>
                          {%- if link.links != blank -%}
                            <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                              <summary class="menu-drawer__menu-item menu-drawer__menu-item-0 list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                {{ link.title | escape }}
                                {%- render 'global-icon',
                                  icon: 'arrow-right'
                                -%}
                                {% render 'icon-caret' %}
                              </summary>
                              <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                                <div class="menu-drawer__inner-submenu">
                                  <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                    {%- render 'global-icon', icon: 'arrow-left' -%}
                                    {{ link.title | escape }}
                                  </button>
                                  <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                    {%- for childlink in link.links -%}
                                      <li>
                                        {%- if childlink.links == blank -%}
                                          <a href="{{ childlink.url }}" class="menu-drawer__menu-item menu-drawer__menu-item-1 link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                            {{ childlink.title | escape }}
                                          </a>
                                        {%- else -%}
                                          <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                            <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                              {{ childlink.title | escape }}
                                              {% render 'icon-arrow' %}
                                              {% render 'icon-caret' %}
                                            </summary>
                                            <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                              <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                                {% render 'icon-arrow' %}
                                                {{ childlink.title | escape }}
                                              </button>
                                              <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                {%- for grandchildlink in childlink.links -%}
                                                  <li>
                                                    <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item menu-drawer__menu-item-3 link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                      {{ grandchildlink.title | escape }}
                                                    </a>
                                                  </li>
                                                {%- endfor -%}
                                              </ul>
                                            </div>
                                          </details>
                                        {%- endif -%}
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </div>
                              </div>
                            </details>
                          {%- else -%}
                            <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                              {{ link.title | escape }}
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                  <div class="menu-drawer__utility-links">
                    {%- if shop.customer_accounts_enabled -%}
                      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                        {% render 'icon-account' %}
                        {%- liquid
                          if customer
                            echo 'customer.account_fallback' | t
                          else
                            echo 'customer.log_in' | t
                          endif
                        -%}
                      </a>
                    {%- endif -%}
                    <ul class="list list-social list-unstyled" role="list">
                      {%- if settings.social_twitter_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                            {%- render 'icon-twitter' -%}
                            <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_facebook_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                            {%- render 'icon-facebook' -%}
                            <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_pinterest_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                            {%- render 'icon-pinterest' -%}
                            <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_instagram_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                            {%- render 'icon-instagram' -%}
                            <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tiktok_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                            {%- render 'icon-tiktok' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_tumblr_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                            {%- render 'icon-tumblr' -%}
                            <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_snapchat_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                            {%- render 'icon-snapchat' -%}
                            <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_youtube_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                            {%- render 'icon-youtube' -%}
                            <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                      {%- if settings.social_vimeo_link != blank -%}
                        <li class="list-social__item">
                          <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                            {%- render 'icon-vimeo' -%}
                            <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                          </a>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </details>
        </header-drawer>
      {%- endif -%}
      
      {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
        <details-modal class="header__search">
          <details>
            <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
              <span>
                <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-search">
                </svg>
                <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </span>
            </summary>
            <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
              <div class="modal-overlay"></div>
              <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                {%- if settings.predictive_search_enabled -%}
                  <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <div class="field">
                      <input class="search__input field__input"
                        id="Search-In-Modal-1"
                        type="search"
                        name="q"
                        value=""
                        placeholder="{{ 'general.search.search' | t }}"
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false"
                        {%- endif -%}
                      >
                      <label class="field__label field__label--search" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                      <input type="hidden" name="options[prefix]" value="last">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                          <use href="#icon-search">
                        </svg>
                      </button>
                    </div>

                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>

                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                {%- if settings.predictive_search_enabled -%}
                  </predictive-search>
                {%- endif -%}
                <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                  <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                    <use href="#icon-close">
                  </svg>
                </button>
              </div>
            </div>
          </details>
        </details-modal>
      {%- endif -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            <span class="header__icon-mobile">
              {% render 'global-icon', icon: 'gc-logo-mob' %}
            </span>
            <span class="header__icon-desktop">
              {% render 'global-icon', icon: 'gc-logo-desk' %}
            </span>
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}

      <div class="search-is-open-desktop">
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            <div class="field">
              <input class="search__input field__input"
                id="Search-In-Modal-1"
                type="search"
                name="q"
                value=""
                placeholder="{{ 'general.search.search' | t }}"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results-list"
                  aria-controls="predictive-search-results-list"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label field__label--search" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
              <input type="hidden" name="options[prefix]" value="last">
              <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <style type="text/css">
                    .st0{fill:#26473A;}
                    .st1{fill:#7BBA59;}
                  </style>
                  <g>
                    <path class="st0" d="M48.29,44.89L38.13,34.73c-1.04-1.04-2.71-1.01-3.76,0.01c-3.41,3.31-8.21,5.19-13.45,4.67   c-7.81-0.78-14.15-7.06-15-14.87C4.74,13.66,13.97,4.56,24.87,5.96C31.83,6.86,37.6,12.14,39.1,19c0.59,2.76,0.49,5.47-0.17,7.95   c-0.26,0.98,0.09,2.03,0.91,2.62c1.38,0.99,3.31,0.27,3.74-1.38c0.62-2.34,0.85-4.83,0.64-7.42c-0.86-10.21-9-18.56-19.18-19.65   C11.26-0.34-0.25,11.12,1.12,24.88c1.02,10.29,9.45,18.53,19.75,19.36c5.8,0.46,11.16-1.37,15.29-4.67l8.72,8.72   c0.94,0.94,2.46,0.94,3.4,0v0C49.23,47.35,49.23,45.83,48.29,44.89z"/>
                    <path class="st1" d="M29.89,29.89c-0.78-0.78-1.99-0.87-2.93-0.28c-1.25,0.78-2.73,1.22-4.31,1.22c-1.46,0-2.84-0.39-4.03-1.07   c-0.9-0.51-2.02-0.39-2.76,0.32l-0.14,0.14c-1.1,1.05-0.91,2.89,0.41,3.66c1.92,1.12,4.15,1.76,6.53,1.76   c2.56,0,4.95-0.74,6.97-2.02c1.25-0.8,1.45-2.55,0.4-3.6L29.89,29.89z"/>
                  </g>
                  </svg>
              </button>
            </div>
    
            {%- if settings.predictive_search_enabled -%}
              <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                <div class="predictive-search__loading-state">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>
    
              <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
            {%- endif -%}
          </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- endif -%}
      </div>

      <div class="header__icons">
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#26473A;}
                .st1{fill:#7BBA59;}
              </style>
              <g>
                <path class="st0" d="M48.2,42.02l-1.27-6.03c-0.68-3.21-2.62-5.99-5.42-7.72l-7.64-4.74c1.15-1.54,1.91-3.39,2.13-5.43l0.61-5.71   c0.7-6.54-4.42-12.24-11-12.24h-1.22c-6.58,0-11.7,5.7-11,12.24L14,18.1c0.22,2.03,0.98,3.89,2.13,5.43l-7.64,4.73   c-2.79,1.73-4.74,4.51-5.42,7.72L1.8,42.02c-0.85,4.04,2.23,7.83,6.35,7.83h33.7C45.97,49.85,49.05,46.05,48.2,42.02z M19.86,7.14   c1.17-1.3,2.78-2.02,4.53-2.02h1.22c1.75,0,3.36,0.72,4.53,2.02c1.17,1.3,1.71,2.98,1.53,4.72l-0.61,5.71   c-0.33,3.1-2.94,5.44-6.06,5.44s-5.72-2.34-6.06-5.44l-0.61-5.71C18.14,10.12,18.69,8.44,19.86,7.14z M43.03,44.31   c-0.17,0.22-0.55,0.57-1.18,0.57H8.15c-0.64,0-1.01-0.35-1.18-0.57c-0.17-0.21-0.44-0.66-0.31-1.27l1.27-6.03   c0.4-1.87,1.55-3.51,3.17-4.51l9.08-5.62c1.46,0.71,3.1,1.11,4.82,1.11c1.72,0,3.36-0.4,4.82-1.11l9.08,5.62   c1.62,1,2.77,2.64,3.17,4.51l1.27,6.03C43.47,43.66,43.2,44.1,43.03,44.31z"/>
                <path class="st1" d="M35.24,40.9h-6.56c-0.93,0-1.69-0.76-1.69-1.69v-1.59c0-0.93,0.76-1.69,1.69-1.69h6.56   c0.93,0,1.69,0.76,1.69,1.69v1.59C36.93,40.15,36.17,40.9,35.24,40.9z"/>
              </g>
            </svg>
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%}

        <!-- Swym Wishlist header -->
        <a href="#swym-wishlist" id="wishlist-counter" class="swym-wishlist header__icon link focus-inset small-hide heart-icon">
        <svg class="{{ class }}" {{ svg_attributes }} xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <style type="text/css">
        .st0{fill:#26473A;}
        .st1{fill:#7BBA59;}
        </style>
        <g>
        <path class="st0" d="M45.77,7.68c-2.69-2.69-6.22-4.03-9.74-4.03c-3.53,0-7.06,1.35-9.75,4.04L25,8.96l-1.28-1.28   c-2.69-2.69-6.22-4.04-9.75-4.04c-3.53,0-7.05,1.34-9.74,4.03c-5.37,5.36-5.08,14.42,0.29,19.79l0.99,0.99l16.76,16.76   c1.51,1.51,3.96,1.51,5.47,0L44.5,28.46l0.99-0.99C50.85,22.1,51.14,13.04,45.77,7.68z M44.8,18c-0.14,2.22-1.2,4.29-2.78,5.87   l-1.06,1.06L25,40.89L9.04,24.93l-1.06-1.06C6.4,22.29,5.34,20.22,5.2,18c-0.16-2.56,0.76-4.99,2.56-6.78s4.23-2.72,6.78-2.56   c2.22,0.14,4.29,1.2,5.87,2.78l1.06,1.06l1.85,1.85l2.64,2.64c1.02,1.02,2.67,1.02,3.69,0s1.02-2.67,0-3.69l-0.95-0.95l1.12-1.12   c1.66-1.66,3.87-2.57,6.22-2.57c2.35,0,4.56,0.91,6.22,2.57C44.04,13.01,44.96,15.44,44.8,18z"/>
        <path class="st1" d="M16.98,27.13l-4.48-4.48c-0.98-0.98-0.98-2.56,0-3.53l0,0c0.98-0.98,2.56-0.98,3.53,0l4.48,4.48   c0.98,0.98,0.98,2.56,0,3.53l0,0C19.54,28.11,17.96,28.11,16.98,27.13z"/>
        </g>
        </svg>
        <span class="swym-wishlist-header-counter"></span>
        </a>
        <!-- Swym Wishlist header -->

        <a href="{{ routes.cart_url }}" class="icon header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <style type="text/css">
              .st1{fill:#26473A;}
              .st0{fill:#7BBA59;}
            </style>
            <g>
              <g>
                <circle class="st1" cx="24.55" cy="46.07" r="3.43"/>
                <circle class="st1" cx="38.27" cy="46.07" r="3.43"/>
                <path class="st1" d="M36.8,28.43c0-1.35-1.1-2.45-2.45-2.45h-4.9c-1.35,0-2.45,1.1-2.45,2.45c0,1.35,1.1,2.45,2.45,2.45h4.9 C35.7,30.88,36.8,29.78,36.8,28.43z"/>
              </g>
              <g>
                <path class="st0" d="M43.05,9.32H26.86c-1.52,0-2.68,1.37-2.41,2.87c0.21,1.17,1.22,2.03,2.41,2.03h16.19 c0.57,0,0.91,0.31,1.07,0.49c0.15,0.19,0.4,0.58,0.3,1.14l-3.71,17.8c-0.12,0.67-0.69,1.15-1.36,1.15H23.47    c-0.68,0-1.24-0.48-1.36-1.15L16.69,2.5c-0.21-1.16-1.21-2-2.39-2H3.11c-1.55,0-2.77,1.44-2.38,3.06C1,4.67,2.08,5.4,3.23,5.4    h9.07l4.98,29.08c0.52,3.01,3.14,5.21,6.19,5.21h15.87c3.06,0,5.67-2.2,6.19-5.22l3.71-17.81C49.91,12.83,46.95,9.32,43.05,9.32z"/>
                <path class="st0" d="M36.31,23.04c1.35,0,2.45-1.1,2.45-2.45c0-1.35-1.1-2.45-2.45-2.45h-7.84c-1.35,0-2.45,1.1-2.45,2.45 c0,1.35,1.1,2.45,2.45,2.45H36.31z"/>
              </g>
            </g>
            </svg>
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
  </header>
  {%- if section.settings.menu != blank -%}
    {%- if section.settings.menu_type_desktop == 'dropdown' -%}
      <nav class="header__inline-menu">
        <div class="header__inline-menu-inner">
          <ul class="list-menu list-menu--inline" role="list">
            <li> 
              <a href="/" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %} home-btn"{% if childlink.current %} aria-current="page"{% endif %}>
                <svg xmlns="http://www.w3.org/2000/svg" baseProfile="tiny" version="1.2" viewBox="0 0 24 24"><path d="M12 3s-6.186 5.34-9.643 8.232A1.041 1.041 0 0 0 2 12a1 1 0 0 0 1 1h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a1 1 0 0 0 1-1 .98.98 0 0 0-.383-.768C18.184 8.34 12 3 12 3z"></path></svg>
              </a>
            </li>
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    {%- else -%}
      <nav class="header__inline-menu">
        <div class="header__inline-menu-inner">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- if childlink.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    {%- endif -%}
  {%- endif -%}
  <div class="search-is-open">
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
    {%- endif -%}
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <div class="field">
          <input class="search__input field__input"
            id="Search-In-Modal-1"
            type="search"
            name="q"
            value=""
            placeholder="{{ 'general.search.search' | t }}"
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results-list"
              aria-controls="predictive-search-results-list"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <label class="field__label field__label--search" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
          <input type="hidden" name="options[prefix]" value="last">
          <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:#26473A;}
                .st1{fill:#7BBA59;}
              </style>
              <g>
                <path class="st0" d="M48.29,44.89L38.13,34.73c-1.04-1.04-2.71-1.01-3.76,0.01c-3.41,3.31-8.21,5.19-13.45,4.67   c-7.81-0.78-14.15-7.06-15-14.87C4.74,13.66,13.97,4.56,24.87,5.96C31.83,6.86,37.6,12.14,39.1,19c0.59,2.76,0.49,5.47-0.17,7.95   c-0.26,0.98,0.09,2.03,0.91,2.62c1.38,0.99,3.31,0.27,3.74-1.38c0.62-2.34,0.85-4.83,0.64-7.42c-0.86-10.21-9-18.56-19.18-19.65   C11.26-0.34-0.25,11.12,1.12,24.88c1.02,10.29,9.45,18.53,19.75,19.36c5.8,0.46,11.16-1.37,15.29-4.67l8.72,8.72   c0.94,0.94,2.46,0.94,3.4,0v0C49.23,47.35,49.23,45.83,48.29,44.89z"/>
                <path class="st1" d="M29.89,29.89c-0.78-0.78-1.99-0.87-2.93-0.28c-1.25,0.78-2.73,1.22-4.31,1.22c-1.46,0-2.84-0.39-4.03-1.07   c-0.9-0.51-2.02-0.39-2.76,0.32l-0.14,0.14c-1.1,1.05-0.91,2.89,0.41,3.66c1.92,1.12,4.15,1.76,6.53,1.76   c2.56,0,4.95-0.74,6.97-2.02c1.25-0.8,1.45-2.55,0.4-3.6L29.89,29.89z"/>
              </g>
              </svg>
          </button>
        </div>

        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
            <div class="predictive-search__loading-state">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>

          <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
        {%- endif -%}
      </form>
    {%- if settings.predictive_search_enabled -%}
      </predictive-search>
    {%- endif -%}
  </div>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu-mobile",
      "default": "main-menu",
      "label": "Mobile menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Desktop menu"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
