{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

{% assign product_one = all_products[section.settings.featured_product_one] %}
{% assign product_two = all_products[section.settings.featured_product_two] %}
{% assign product_three = all_products[section.settings.featured_product_three] %}

<div class="collection-hero {% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} page-width">
  <div class="collection-hero__inner page-width {% if product_one.url != blank %}collection-hero__inner--three-products{%- endif -%}">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}
          :
        </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description color-gray rte">{{ collection.description }}
        </div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ collection.image | image_url }} {{ collection.image.width }}w" src="{{ collection.image | image_url: width: 750 }}" sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)" alt="" width="{{ collection.image.width }}" height="{{ collection.image.height }}">
      </div>

    {%- elsif product_one != blank or product_two != blank or product_three != blank -%}
      <div class="collection-hero__products">
        <h2>{{ section.settings.top_sellers }}</h2>
        <ol class="list-unstyled collection-hero__product_list">
          <li class="shadow">
            <span class="number">1.</span>
            <a href="{{ product_one.url }}">
              <img src="{{ product_one.featured_image | img_url: '75x75' }}" alt="{{ product_one.featured_image.alt }}"/>
              <div class="collection-hero__title">
                <h3>{{ product_one.title }}
                </h3>
                <span>{{ product_one.metafields.custom.product_name }}
                </span>
              </div>
              <div class="price price__regular">{{ product_one.price | money }}
              </div>
            </a>
          </li>
          <li class="shadow">
            <span class="number">2.</span>
            <a href="{{ product_two.url }}">
              <img src="{{ product_two.featured_image | img_url: '75x75' }}" alt="{{ product_two.featured_image.alt }}"/>
              <div class="collection-hero__title">
                <h3>{{ product_two.title }}
                </h3>
                <span>{{ product_two.metafields.custom.product_name }}
                </span>
              </div>
              <div class="price price__regular">{{ product_two.price | money }}
              </div>
            </a>
          </li>
          <li class="shadow">
            <span class="number">3.</span>
            <a href="{{ product_three.url }}">
              <img src="{{ product_three.featured_image | img_url: '75x75' }}" alt="{{ product_three.featured_image.alt }}"/>
              <div class="collection-hero__title">
                <h3>{{ product_three.title }}
                </h3>
                <span>{{ product_three.metafields.custom.product_name }}
                </span>
              </div>
              <div class="price price__regular">{{ product_three.price | money }}
              </div>
            </a>
          </li>
        </ol>
      </div>


    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
        "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
      },
      {
        "type": "text",
        "id": "top_sellers",
        "label": "3 Top products",
        "info": "All three products needs to be filled in",
        "default": "Produkte bestseller"
      },
      {
        "type": "product",
        "id": "featured_product_one",
        "label": "Product 1"
      }, 
      {
        "type": "product",
        "id": "featured_product_two",
        "label": "Product 2"
      }, 
      {
        "type": "product",
        "id": "featured_product_three",
        "label": "Product 3"
      }, 
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          }, {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }
    ]
  }
{% endschema %}
